.wrapper {
  display: flex;
  justify-content: center;
  width: 380px;
  /* background: rgba(0, 255, 187, 0.308); */
}

.word-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.word {
  width: 185px;
  height: 22px;
  margin: 2px 0;
  background: rgb(255, 255, 255);
  border-radius: 5px;
  border: 1px solid #bdbdbd;
  text-align: center;
}

.inp {
  display: block;
  width: 170px;
  height: 17px;
  margin: 2px 0;
  text-align: center;
  background: transparent;
}

.btn {
  background: rgb(0, 225, 255);
  color: #ffffff;
  border: none;
  font-size: 30px;
}

.mistake {
  background: rgba(255, 0, 0, 0.255);
}

.correctly {
  background: rgba(1, 255, 56, 0.357);
}